<h1 class="title text-center">Grano De Mostaza Restaurant <small><br>Good Food = Good Life</small></h1>

<div class="css-slideshow">
  <figure>
    <img class="slide img-thumbnail img-responsive" src="/assets/cachapa.jpg" alt="cachapa" />
  </figure>

  <figure>
    <img class="slide img-thumbnail img-responsive" src="/assets/carneMechada.jpg" alt="Shredded Beef meal" />

  </figure>

  <figure>
    <img class="slide img-thumbnail img-responsive" src="/assets/reina.jpg" alt="Arepa" />
  </figure>

  <figure>
    <img class="slide img-thumbnail img-responsive" src="/assets/emp.jpg" alt="Empanadas" />
  </figure>
</div>

<div class="css-slideshow2">
  <div class="fig">
    <figcaption><strong>Cachapa:</strong> Try our delicious, cachapas, home-made with simple ingredients like corn, milk, and Venezuela's famous guayanes soft white cheese! </figcaption>
  </div>

  <div class="fig">
    <figcaption><strong>Shredded Beef Meal:</strong> Feeling in the mood for a full home-made meal? You can't go wrong with our Pabellon plate that comes with shredded beef, rice, black beans, and plantains! We can always add some cheese on top for extra flavor!</figcaption>
  </div>

  <div class="fig">
    <figcaption><strong>Reina Pepiada Arepa:</strong>Want an arepa but don't know which one to choose? You can never go wrong with the reina pepiada arepa. It doesn't translate to stuffed queen arepa without reason! Filled with savory chicken salad and avocado, it's the perfect meal to cure your arepa craving!</figcaption>
  </div>

  <div class="fig">
    <figcaption><strong>Empanada:</strong> Want to know what all the fuzz is about regarding our Venezuelan empanadas? Come and taste them for yourself! You'll soon come to find that there's no other dish like it! </figcaption>
  </div>

</div>
