/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

 /*Do this for every css!!!*/
 * {
   box-sizing: border-box;
 }

 li {
   /*get rid of bullet points*/
   list-style-type: none;
 }

 a {
   text-decoration: none;
 }

 body {
   margin: 0;
   /*background-image: url("/assets/bg1.jpg");*/
   background-size: 100% auto;
 }

 /*----------------------------------------*/
 /*-----------------HEADER-----------------*/
 /*----------------------------------------*/

 /*Don't change the link to purple when visited*/
 a, a:visited {
   color: gray;
 }

 img#logo {
   border: .1rem solid gray;
   margin: 0;
   height: 7rem;
   width: auto;
 }

 /*get rid of nav margin*/
 .my-list {
   margin: 0;
   padding: 0;
   /*Flexbox default direction is horizontal. The list container is a flexbox, and now everything inside my list became flex items. This can also be done by changing the li display.*/
   display: flex;
   justify-content: flex-end;
   font-family: 'Raleway', sans-serif;
   font-size: 2rem;
   margin-right: 2rem;
 }

 table {
   background-color: white;
   width: 80% !important;
   margin: auto;
   border-radius: 2em;
 }
 .my-list li:first-child {
   justify-self: flex-start;
   margin-right: auto;
   margin-left: 0;
   padding: 0;
 }
 .my-list li {
   padding: 0.5em 0 0.5em 1em;
   padding-top: 2rem;
   margin-left: 2rem;
 }

 #alert-message {
   font-size: 1.5rem;
   font-family: 'Raleway', sans-serif;
   text-align: right;
   color: red;
   margin-top: 0;
   margin-right: 1.2em;
   padding: 0;
 }

 .alert-notice {
     padding: 0;
 }
