
.title {
  font-family: 'Niconne', cursive;
  font-size: 5rem;
}

.slide {
  width: 495px;
  height: 370px;
}

.css-slideshow{
   position: relative;
   max-width: 495px;
   height: 370px;
   margin: 5em auto .5em auto;
}
.css-slideshow figure{
   margin: 0;
   position: absolute;
}
.css-slideshow2 figcaption{
   color: #fff;
   background: rgba(0,0,0, .3);
   font-size: 2em;
   /*padding: 8px 12px;*/
   opacity: 1;
   transition: opacity .5s;
   padding: 2rem;
   line-height: 2.5rem;
}

.css-slideshow2 {
  position: relative;
  width: 80%;
  margin: 2rem auto;
}

.css-slideshow2 div.fig {
  position: absolute;
  opacity: 0;
  text-align: center;
  /*position: absolute;*/
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  /* position the top  edge of the element at the middle of the parent */
  /*top: 50%;*/

  /* position the left edge of the element at the middle of the parent */
  /*left: 50%;

  transform: translate(-50%, -50%);*/
}

div .fig {

  width: 80%;
  margin: 0 auto;

}

.css-slideshow figure{
   opacity:0;
}

.fig:nth-child(4) {
   animation: xfade 24s 18s infinite;
}

.fig:nth-child(3) {
   animation: xfade 24s 12s infinite;
}
.fig:nth-child(2) {
   animation: xfade 24s 6s infinite;
}
.fig:nth-child(1) {
   animation: xfade 24s 0s infinite;
}


figure:nth-child(4) {
   animation: xfade 24s 18s infinite;
}

figure:nth-child(3) {
   animation: xfade 24s 12s infinite;
}
figure:nth-child(2) {
   animation: xfade 24s 6s infinite;
}
figure:nth-child(1) {
   animation: xfade 24s 0s infinite;
}

@keyframes xfade{
   0%{
      opacity: 1;
   }
   22% {
      opacity:1;
   }
   25%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}
